<!DOCTYPE html>
<html
  lang="ko-KR"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:replace="~{layout/layout :: common(~{::head},~{::main})}"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <title>Index Page</title>
  </head>
  <body>
    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
      ducimus. Incidunt, eaque dolores sit ipsum, nisi expedita repellendus
      reiciendis assumenda accusamus numquam neque architecto, at minima aliquid
      delectus sed tenetur.
    </main>
  </body>
</html>
