<!DOCTYPE html>
<header th:fragment="common">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde optio alias
  accusantium, commodi dignissimos aliquid quidem illo corrupti, fugit expedita
  porro. Quos error praesentium officia distinctio voluptatem, repudiandae et
  quae!
</header>
<header th:fragment="admin">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde optio alias
  accusantium, commodi dignissimos aliquid quidem illo corrupti, fugit expedita
  porro. Quos error praesentium officia distinctio voluptatem, repudiandae et
  quae!
</header>
<header th:fragment="auth">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde optio alias
  accusantium, commodi dignissimos aliquid quidem illo corrupti, fugit expedita
  porro. Quos error praesentium officia distinctio voluptatem, repudiandae et
  quae!
</header>
