<!DOCTYPE html>
<th:block th:fragment="default">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <script th:inline="javascript">
    const header = document.querySelector("meta[name='_csrf_header']").content;
    const token = document.querySelector("meta[name='_csrf']").content;
    const headers = { header: header, "X-CSRF-Token": token };
  </script>
  <link rel="stylesheet" th:href="@{/css/common/reset.css}" />
  <link rel="stylesheet" th:href="@{/css/common/common.css}" />
  <link rel="stylesheet" th:href="@{/css/common/theme.css}" />
  <script th:src="@{/js/common/theme.js}"></script>
</th:block>
